@model ProjektNutrition.Models.AspNetRoles

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Modyfikacja", "Edit", new { Id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
